.Gameboard {
  display: flex;
  flex-wrap: wrap;
  width: 640px;

}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  flex-basis: 80px; 
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.black {
  background-color: lightgrey;
}

.white {
  background-color: white;
}
